server:
  port: 8888
spring:
  application:
    name: configuration-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/MotykaMichal/szkolenie-ms
          search-paths: config-files
